<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %> 
  
  <!-- Main Body -->
  <main class="container">
    <div class="row h-100 p-5 bg-light border rounded-3">
      <h1 class="display-4">Welcome to the <%= title %> Page</h1>
      
      <div><i class="fas fa-mobile fa-10x"></i> +1 (647) 616-3701</div>
      <div><i class="fab fa-github fa-lg"></i> <a href="https://github.com/Deaniesaur">https://github.com/Deaniesaur</a></div>
      <div><i class="fab fa-facebook fa-lg"></i></i> <a href="https://www.facebook.com/Deaniesaur">https://www.facebook.com/Deaniesaur</a></div>
    </div>
  </main>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>